<li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
    <a class="nav-link {{ chemin starts with "app_admin_" ~ entite ? " active" : " " }}" href="#menu-{{ entite }}s" data-toggle="collapse">
        {{ libelle|default(entite ~ "s")|capitalize }}
    </a>
    <ul id="menu-{{ entite }}s" class="collapse {{ chemin starts with "app_admin_" ~ entite ? " show" : " " }}">
        <li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <a class="nav-link {{ chemin == "app_admin_" ~ entite ~ "_index" ? " active" : " " }}" href="{{ path("app_admin_" ~ entite ~ "_index") }}">
                <i class="fa fa-list-alt"></i>
                Liste
            </a>
        </li>
        <li class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <a class="nav-link {{ chemin == "app_admin_" ~ entite ~ "_new" ? " active" : " " }}" href="{{ path("app_admin_" ~ entite ~ "_new") }}">
                <i class="fa fa-plus-square"></i>
                Ajouter
            </a>
        </li>
    </ul>
</li>
