<nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_home") }}">
			<img src="{{ asset(chemin_images ~ "logo.png" )}}" alt="e-bliothèque logo" class="vignette">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			{% if app.user %}
				{# ? si app.user n'est pas null, c'est qu'un utilisateur est connecté. app.user contient un objet User (classe Abonne dans le projet actuel) #}
				{# ? on peut aussi utiliser le rôle IS_AUTHENTICATED_FULLY qui signifie qu'il y a  un utilisateur connecté #}
                <li class="nav-item">
                    <a class="nav-link  {{ app.request.attributes.get("_route") == "app_espace" ? "active" : "" }}" href="{{ path(is_granted('ROLE_ADMIN') ? "app_admin_gestion" : "app_espace") }}">
						<i class="fa fa-user"></i> {{ app.user.username }} {# Espace_lecteur ou Gestion #}
					</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path("app_logout") }}">
						<i class="fa fa-sign-out-alt"></i> {# Déconnexion  #}
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get("_route") == "app_login" ? "active" : "" }}" href="{{ path("app_login") }}">
						<i class="fa fa-sign-in-alt"></i> {# Connexion #}
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get("_route") == "app_register" ? "active" : "" }}" href="{{ path("app_register") }}">
            			<i class="fa fa-user-plus"></i> {# Inscription #}
					</a>
				</li>
			{% endif %}
			<li class="nav-item ">
				<a class="nav-link" href="">
					<i class="fa fa-grip-lines-vertical"></i>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link {{ app.request.attributes.get("_route") == "app_visiteur_genre" ? "active" : "" }}" href="{{ path("app_visiteur_genre") }}">
					Genres 
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link {{ app.request.attributes.get("_route") == "app_visiteur_auteur" ? "active" : "" }}" href="{{ path("app_visiteur_auteur") }}">
					Auteurs 
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link {{ app.request.attributes.get("_route") == "app_visiteur_livre" ? "active" : "" }}" href="{{ path("app_visiteur_livre") }}">
					Livres 
				</a>
			</li>
		{% if is_granted("ROLE_ADMIN") %}
			<li class="nav-item ">
				<a class="nav-link" href="">
					<i class="fa fa-grip-lines-vertical"></i>
				</a>
			</li>
			<li class="nav-item {{ app.request.attributes.get("_route") == "app_admin_gestion" ? "active" : "" }}">
				<a class="nav-link" href="{{ path("app_admin_gestion") }}">
					Gestion 
				</a>
			</li>
		{% endif %}


                <form class="d-flex" role="search" action={{ path(is_granted('ROLE_ADMIN') ? "app_admin_recherche" : "app_recherche") }} >
                    <input class="form-control me-2" type="search" placeholder="Recherche..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
							<i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        {# 
        	? La variable 'app' permet d'avoir des informations sur l'application.
        	?  C'est un objet. 
        	?  'app.user' conti²ent un objet de la classe Abonne, avec les infos de
        	?    l'utilisateur connecté. Si aucun utilisateur n'est connecté, 
        	?    'app.user' est null
        	?  
        	?  Pour afficher l'identifiant unique de l'utilisateur on peut mettre
        	?  app.user.pseudo (la propriété que l'on a choisi pour se connecter)
        	?  ou app.user.username
        #}
        
        